* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
    width: 100%;
}

header {
    background: linear-gradient(135deg, #ff69b4, #d04894);
    color: white;
    padding: 60px 20px;
    text-align: center;
    line-height: 1.7;
}

header h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;
    animation-name: bounce;
    animation: bounce 2s infinite;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background: #fff;
    color: #d04894;
    font-weight: bold;
    border-radius: 25px;
    text-decoration: none;
    margin-bottom: 40px;
    border: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #f8c8dc;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: (-10px);
    }
}

.search-section {
    padding: 50px 20px;
    background: #fff;
    margin: auto;
    text-align: center;
}

.search-section h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.search-form input[type=text], 
.search-form select {
    padding: 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9rem;
}

.search-form button {
    background-color: #ff69b4;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 5px;
}

.search-form button:hover {
    background-color: #d04894;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 60px 10px;
    gap: 30px;
    background-color: #fff;
}

.feature-box {
    background: #fff0f5;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05); 
    transition: transform 0.3s ease;
    width: 280px;
    text-align: center;
    cursor: pointer;
}

.feature-box i {
    color: #ff69b4;
    font-size: 2rem;
    margin-bottom: 10px;
}

.feature-box h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.feature-box p {
    font-size: 0.95rem;
    color: #555;
    line-height: 1.5;
}

 .feature-box:hover {
    transform: translateY(-5px);
 }

.cta {
    background: #f8c8dc;
    text-align: center;
    padding: 60px 20px 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.cta h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 17px;
    text-align: center;
}

.cta p {
    font-size: 1rem;
    margin-bottom: 17px;
    width: 600px;
    text-align: center;
    line-height: 1.7;
}

footer {
    background: #ff69b4;
    color: white;
    text-align: center;
    padding: 15px 10px;
    font-size: 0.9rem;
}
  
